.NavigationItem {
  margin: 10px;
  display: flex;
  background-color: lightgrey;
  text-decoration: none;
  color: black;
  outline: none;

  &:hover {
    background-color: grey;
    color: white;
  }

  &:active,
  &.active {
    background-color: #f44336;
    color: white;
  }
}
